body{
	font-family: Helvetica;
	background-color:white;
}
#holder {
    position:fixed;
    overflow: scroll;
    width:100%;
    height:100%;
    top:0em;
    left:0em;
    z-index:-1;
 }

.boxContainer {
	position:fixed;
	left:0em;
	top:0em;
	background-color:#fff;
	padding:10px 1em 1em 1em;
	opacity:0.8;
    z-index:100;
	filter:alpha(opacity=80);
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;

}

.boxContainer a {
    display: inline-block;
    margin:7px;
}




.container {
    margin-top:10px;
    padding: 0px 1em 0em 1em;
    height:25em;
    overflow:scroll;
}
#toggle-block {
    height:35em;
}

.explanation { 
    cursor:drag;
    background-color:white;
    color:black;
    border:0.25em solid #ddd; 
    position:absolute;
    right:0em;
    top:0em;
    width:30em;
    font-size:90%;
    padding:1em;
    opacity:0.9;
    filter:alpha(opacity=90); 
    font-family:helvetica;
    box-shadow: 1px 1px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
}

.box {
    z-index: 2;
    border-radius:0.9em;
    opacity:0.8;
    filter:alpha(opacity=80);
    width:228px;
    height:96px;
    position:relative;
    display:block;
    cursor:pointer;
    text-align:left;
    margin-bottom:1em;
    color:black;
    background-color: white;
    border:1px solid #346789;
    
}

.block {
    text-align: center;
    z-index: 1;
    border-radius:0.9em;
    border: 1px solid black;
    background-color: #A2A2A2;
    width:256px;
    height:376px;
    position:relative;
    display:block;
    cursor:pointer;
    color:black;
    margin-bottom:16px;
    padding:20px;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.9em;   
}


.text {
    line-height:0.9em;
    padding-top:24px;
    padding-left:5px;
}


#uA , #uD{
    position:absolute;
    top:8px;
    right:8px;
    z-index: -1;
}

#dA , #dD{
    width:100%;
    position:absolute;
    top:3em;
    z-index:-1;
    
}


#uB, #uC {
    position:absolute;
    top:1em;
    right:8px;
    z-index: -1;
}
.slim {
    height:4em;
    font-size:1em;
}


.nested {
    position:relative;
    display:inline-block;

    
}

.small {
    text-align: center;
    width:100px;
    height:52px;
    margin:10px;
}





#delete {
    border:2px solid #ddd;
    position:absolute;
    bottom:0px;
    right:0px;
    width:10em;
    height:10em;
    text-align:center;
    line-height: 160px;
    font-weight:bold;
    opacity:0.9;
    filter:alpha(opacity=90); 
    font-family:helvetica;
    z-index:-10;
    

}


a {text-decoration:none;
display:inline-block;
color:#01a3c6;
font-weight:bold;
font-family:helvetica;
padding:0.3em;
border-radius:0.2em;

}
a:hover {
color:#1b911b;
background-color:#f0f0f0;
}


._jsPlumb_overlay { z-index:51; }
._jsPlumb_endpoint { z-index:50; cursor:move; }
._jsPlumb_connector { z-index:-1; }
