html {
    /*overflow: auto;*/
}
body{
    padding-left: 240px;
    font-family: Helvetica Neue;
    background-color:white;
    /*min-height: 150%;*/
}


#center-info {
    z-index:0;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    opacity:0.8;
    filter:alpha(opacity=60);
}

.align-right {
    position:fixed;
    right:20px;
    top:10px;
}


/************* sidebar **************/

#sidebar {
    z-index: 21;
    position:fixed;
    left:0px;
    top:0px;
    bottom:0px;
    min-height: 100%;
    height: auto;
    overflow-y: auto;
    margin-bottom: auto;
    width:242px;
    background-color:#f5f4f4;
    border-left: 1px solid #b8b7b7;
    border-right:1px solid #b8b7b7;
    -webkit-box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    -1px 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow:         -1px 3px 8px rgba(0, 0, 0, 0.3);
}
#logo {
    height:125px;
    background-color:#f5f4f4;
    border-bottom:1px solid #b8b7b7;
    position: relative;
    background-image: url(../img/logo.png);
}

.toggle {
    color:#767575;
    position: relative;
    font-weight: bold;
    display: inline-block;
    width:50%;
    text-align: center;
    padding: 15px;
    border-bottom:1px solid #b8b7b7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}
#toggleBoxes {
    border-right: 1px solid #b8b7b7;
}
.open {
    background-color: #e5e2e2;
    color:black;
}


#container{
    color: #767575;
    position:relative;
    padding:10px 10px 10px 10px;
    background-color: #e5e2e2;
    font-size: 12px;
    min-height:100%;
    height: auto;
    /*overflow-y: scroll;*/
    box-shadow:0px 2px 10px #cecdcd inset;
    -moz-box-shadow:0px 2px 10px #cecdcd inset;
    -webkit-box-shadow:0px 2px 10px #cecdcd inset;    
}

.cell{
    padding: 10px 0px 10px 20px;
}

.cell-block{
    padding: 10px 0px 10px 5px;
}

#delete-container {
    /*display: block;*/
    position:fixed;
    bottom:0px;
    right: 0px;
    border: 1px solid #b7b9bd;
    height:75px;
    width:75px;
    line-height: 75px;
    text-align: center;
}

.align-left, .icon, .url{
    margin-left: 5px;
}

.align-moreleft{
    margin-left: 10px;
}

.content {
    font-size: 11px;
    font-weight: bold;
}

.color-red {
    color: red;

}
.color-gray {
    color:gray;

}
#info {
    position: relative;
    z-index: 20;
}
#center-info a:hover {
    background-color:#e5e2e2; 
}
p#center-info {
    font-size: 14px;
    color:gray;
}
#center-info {
    padding-top:15px;
}
#canvas {
    overflow: auto;
    position: absolute;
    bottom: 0px;
    min-width: 80%;
    min-height: 150%;
    height:200%;
    z-index: 10;
    /*overflow:scroll;*/
}
.ui-tooltip {
    font-size: 10pt;
}

/*****************links****************/
a, a:link, a:visited{
    color:black;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}

a:hover{
    background-color: yellow;
    cursor: pointer;
    color:white;
    text-decoration: none;
}

#sidebar a:hover{
    background-color:#e5e2e2;
    color:black;
}

#delete a{
    display: block;
    width:100%;
    height: 100%;
    z-index: -10;
}

a.toggle{
    font-size:16px;
}
a#title{
    font-size: 19px;
}

a#subtitle, a#information {
    color:gray;
    font-weight: normal;
}


/***************** tags ****************/
label, input, button, select, textarea {
    font-size: 13px;
    }
select {
    height:25px;
    background-color: white;
    /*border:none;*/
}

input[type=text] {
    height:10px;
    border:1px solid #b7b9bd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset; 
    color:#767575;
    font-size: 12px;
    
}
input.url{
    position: relative;
    display: block;
    width: 150px;
    /*margin-left: */
}
.header input{
    margin-top: -3px;
}

.box label {
    font-size: 12px;
    display: inline;
    line-height: 35px;
    font-weight: bold;
    color:black;
}

.header label{
    position: relative;
    display: inline-block;
    margin-top:0px;
    padding-right: 5px;
    padding-left: 5px;
} 

label{
    pointer-events: none;
}


/***************** Box/Block/Header/label ***************/
.box, .block {
    display:block;
    cursor:move;
    /*margin: 10px 10px 10px 10px;*/
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border:1px solid #b7b9bd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 3px 2px 0px #cfcfcf;
    -moz-box-shadow:0px 3px 2px 0px #cfcfcf;
    -webkit-box-shadow:0px 3px 2px 0px #cfcfcf;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset; 
    -moz-box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset;
}

.box {
   width:180px; 
   background-color: white;
}

.block {
    width:215px;

}

.icon, .info-icon {
    position:relative;
    display: inline;
    margin-top: 0px;
}

.header{
    border-bottom:1px solid #b7b9bd;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
    background-color: #f5f4f4;
}

div.top {
    position: relative;
    border-bottom:inherit;
}

/**************** menu/record boxes *****************/
div.menu {
    height:140px;
    width: 180px;
    
}
div.menu-top{
    height:70%;
    padding:0px 0px 2px 0px;
}

.menu .bottom  {
    height:40%;
}
input.name{
    position:relative;
    width:60%;
}


/**************** play boxes *****************/
.play .bottom{
    text-align: center;
}

select.drop{
    margin-top: 10px;

}

/**************** action boxes *****************/
.action .header{
    height:45%;
}
div.action{
    /*width:130px;*/
    height: 70px;
    text-align: center;
}
.action select{
    margin-top: 5px;
}

/**************** redirect/hangup boxes *************/

.redirect .icon{
    /*margin-top: -5px;*/
}
.redirect .tel {
    position:absolute;
    margin-top:9px;
    width:35%;
    right:5px;
    font-size: 10px;
}
.hangup, .redirect {
    /*height:35px;*/
}

input.redirect {
    width:55%;
}
input.pad-top{
    margin-top: 8px;
}


/********* blocks*************/

.cell-inblock{
    display: block;
    width: 215px;
    padding: 7px 0px;
}
.block-name{
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-left: 5px;
}
input.input-block{
    width: 55%;
    margin-left: 5px;
    margin-right: 2px;
}
input.input-record{
    width:46%;
    margin-right: 2px;
}


/***************** playstories block ***************/
.playaudio {
    background-color: #9ae1fb;
    height:315px;
}
.playaudio td{
    /*display: block;*/
    
    text-align: center;
}
.inblock{
    margin-right: auto;
    margin-left:auto;
    text-align: left;
}
div.play.inblock{
    height:60px;
    padding: 0px;
}

/**** play from database ***/
div.play-database{
    width:145px;
    height:33px;
}

.play-database .icon{
    margin: -5px 0px 0px -10px;
}

/***** single-action boxes ***/
div.single-action{
    height:33px;
    width:100px;
}
.single-action .icon {
    margin-left: -10px;
}

.text-align-top .icon{
    margin-left: -20px;
}

.block table{
    border-collapse: collapse;
}
/*div.text-align-top{
    line-height: 50px;
}*/
.text-align-top label{
    margin-left: 5px;
}

/************* Record stories block *****************/
.recordaudio{
    background-color: #fcdf7b;
    height:auto;
    padding-bottom: 5px;
}

/*div.publish, div.delete{
    height:30px;
}*/

/******* jsplumb stuff *****************/
._jsPlumb_overlay { z-index:51;
pointer-events:none;
    font-size: 11px;
    line-height: 11px;
    font-weight: bold;
 }
._jsPlumb_endpoint {
    z-index:51;
    cursor:move; 

}
._jsPlumb_connector { z-index:-1; }

.endpoint{
    font-size: 11px;
    font-weight: bold;
}

/******* audio player stuff ************/

audio { width: 160px; }
