html {
    height:100%;
    overflow: auto;
    position:relative
}
body{
    height:100%;
    padding-left: 240px;
    font-family: Helvetica Neue;
    background-color:white;
}
a, a:link, a:visited{
    text-decoration: none;
}
a:hover{
    background-color:#e5e2e2;
    color:black;
}
#center-info {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.align-right {
    position:fixed;
    right:20px;
    top:10px;
}

#sidebar {
    position:absolute;
    left:0px;
    top:0px;
    height:auto;
    min-height: 100%;
    margin-bottom: auto;
    /*bottom:0px;*/
    width:240px;
    background-color:#f5f4f4;
    border-left: 1px solid #b8b7b7;
    border-right:1px solid #b8b7b7;
    /*box-shadow: 1px 1px 1px #cecdcd;*/
    -webkit-box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    -1px 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow:         -1px 3px 8px rgba(0, 0, 0, 0.3);
}
#container{
    height: auto;
    min-height: 100%;
}
#logo {
    height:125px;
    background-color:#f5f4f4;
    border-bottom:1px solid #b8b7b7;
    position: relative;
}

.toggle {
    color:#767575;
    position: relative;
    font-weight: bold;
    display: inline-block;
    width:50%;
    text-align: center;
    padding: 15px;
    border-bottom:1px solid #b8b7b7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}
#toggleBoxes {
    border-right: 1px solid #b8b7b7;
}


#container{
    color: #767575;
    position:relative;
    padding:10px 10px 10px 10px;
    background-color: #e5e2e2;
    font-size: 12px;
    min-height:100%;
    height:auto;
    /*overflow: auto;*/
    box-shadow:0px 2px 10px #cecdcd inset;
    -moz-box-shadow:0px 2px 10px #cecdcd inset;
    -webkit-box-shadow:0px 2px 10px #cecdcd inset;
    
}
#delete {
    position:fixed;
    bottom:10px;
    right: 20px;
}
.box, .block {
    display:block;
    cursor:pointer;
    margin-top: 20px;
    position:relative;
    margin-right:auto;
    margin-left:auto;
    border:1px solid #b7b9bd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 3px 2px 0px #cfcfcf;
    -moz-box-shadow:0px 3px 2px 0px #cfcfcf;
    -webkit-box-shadow:0px 3px 2px 0px #cfcfcf;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset; 
    -moz-box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset;
}
.box {
   width:180px; 
   background-color: white;
}

.block {
    width:215px;

}
.playaudio {
    background-color: #9ae1fb;
    height:310px;
}
.recordaudio {
    background-color: #fcdf7b;
    height:375px;
}
.play-accept, .play-listen {
    margin-top: 15px;
    width: 180px;
    height: 90px;

}

 .top {
    height: 60%;
    border-bottom:inherit;

}
.bottom {
    height:40%;
}
.icon {
    position:absolute;
    margin-top: 9px;
    margin-left: 5px;   
}
.play, .redirect {
    height:54px;
}

.block label {
    position:absolute;
    margin:10px;
    margin-top: 8px;
    font-weight:bold;
    color:black;
}

.box label {
    position:absolute;
    line-height: 35px;
    margin-left: 35px;
    margin-top: 0px;
    font-weight: bold;
    color:black;

}

.input {
    border:1px solid #b7b9bd;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset; 
    color:#767575;

}
.url {
    position:absolute;
    margin-top: 30px;
    margin-left: 10px;
    width: 87%;

}
.redirect .tel {
    position:absolute;
    margin-top:9px;
    width:45%;
    right:5px;
    font-size: 10px;
}

.hangup, .redirect {
    height:35px;
}
.action {
    width:100px;
    height:30px;
}
.action select {
    display:block;
    margin: auto;
    margin-top: 7px;

}

.open {
    background-color: #e5e2e2;
    color:black;
}
.inblock {
    margin-top: 20px;
}
.playaudio .play{
    margin-top: 30px;
}
.recordaudio .play-listen{
    margin-top: 30px;
}
.actioncontainer {
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: 4px;
    /*margin-top: 10px;*/
 }
.playaudio .inline, .recordaudio .inline {
    display: inline-block;

}
.content {
    font-size: 11px;
    font-weight: bold;
}

.color-red {
    color: red;

}
.color-gray {
    color:gray;

}

#subtitle {
    font-size: 14px;
}
#center-info {
    padding-top:15px;
}

._jsPlumb_overlay { z-index:51; }
._jsPlumb_endpoint { z-index:50; cursor:move; }
._jsPlumb_connector { z-index:-1; }
